.DS_Store
.vscode
*__pycache__
.venv
firebase_service_account.json
cli/dist
cli/.venv
venv/
.env
*.json
.momentum
db
cli/momentum_cli/.momentum
.hypothesis
# Ignore all .env.* files
.env.*
# Except for .env.template
!.env.template
**/node_modules/
